header {
	background-color: #222;
	color: #fffefe;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}
.nombre-header a{
	margin: 0;
	color: #fffffffa;
	text-decoration: none;
}
.nombre-header a:hover{
	color: rgb(189, 112, 68);
	transition: .5s;
	-webkit-transform: scale(1.10); transform: scale();
	
}

nav {
	flex: 2;
}

nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav li {
	margin-top: 30px;
	text-align: center;
	align-items: center;
	justify-content: center;

}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	transition: all .3s ease-in-out;
}
nav a:hover{
    color: rgb(189, 112, 68);
	padding: 5px 10px;
	background: rgba(90, 88, 88, 0.089);
	border-radius: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
	
}
.card{
    border: 5px solid rgb(0, 0, 0);
    width: 205px;
    height: 260px;
    margin: 5px;
}
.card:hover{
    box-shadow: 5px 5px 20px;
    color: #fff;
    transform: translateY(-3%);
    transition: .5s;
}
.card img{
    width: 205px;
    height: 260px;
}
body{
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
h2{
    color: #fff;
}
footer{
	color: #fff;
	text-align: center;
	background-color: #1e130c;
	padding: 80px 0;
}
h1{
    text-align: center;
}
p{
    color: #fff;
}

footer{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: sans-serif;
	text-transform: capitalize;
}
.grupo{
	max-width: 1200px;
	margin: 0 auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-links{
	width: 25%;
	padding: 0 15px;
}
.footer-links h4{
	font-size: 20px;
	color: #fff;
	margin-bottom: 25px;
	font-weight: 500;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
	display: inline-block;
}
.footer-links ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #bbbbbb;
	display: block;
	margin-bottom: 15px;
	transition: all.3s ease;
}
.footer-links ul li a:hover{
	color: #fff;
	padding-left: 6px;
}
.social-link a{
	display: inline-block;
	min-height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fcfbfb;
	transition: all .5s ease;
}
.social-link a:hover{
	background-color: #1e130c;
}
